.mapbox-improve-map{
    display: none;
}
.left_part{
  max-width: 50%;
}
.left_part .card_map {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
.label_map {
    width: max-content;
    color: tomato;
    font-size: 13px;
    border-bottom: 0.5px solid tomato;
    margin: 3px 0;
}
  
.layover .desc_map {
    font-size: 14px;
}
  
.layover .star_map {
    color: gold;
}
* {box-sizing: border-box}

/* Container needed to position the overlay. Adjust the width as needed */
.contain_map {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
}

/* Make the image to responsive */
.img {
  /* display: block;
  width: 100%; */
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.layover {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 30px;
  padding-bottom: 50px;
  text-align: left;
}

/* When you mouse over the container, fade in the overlay title */
.contain:hover .layover {
  opacity: 1;
  text-align: left;
  text-indent: 1rem;
}

.btn_map {
  position: relative;
  background: rgb(0,172,238);
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.btn_map:after {
  content: "";
  background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.btn_map:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}