.btn {
  margin-top: 1rem;
  display: inline-block;
  border: 0.2rem solid #10221b;
  color: #10221b;
  cursor: pointer;
  background: none;
  font-size: 1.2rem;
  padding: 1rem 3rem;
}

.btn:hover {
  background: #10221b;
  color: #fff;
}

.about {
    background: #eee;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
    margin: 2rem 2rem;
  }
  
  .about .image {
    display: flex;
    align-items: center;
    padding-right: 5rem;
    padding-bottom: 5rem;
  }
  
  .about .image img {
    width: 100%;
    -webkit-box-shadow: 4rem 4rem 0 rgba(0, 0, 0, 0.1);
            box-shadow: 4rem 4rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .about .content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 42rem;
            flex: 1 1 42rem;
  }
  
  .about .content h3 {
    font-size: 3rem;
    color: #219150;
  }
  
  .about .content p {
    font-size: 1.5rem;
    color: #10221b;
    padding: 1rem 0;
    line-height: 2;
  }